.idea
app/json/serverinfo
public/json/serverInfos
public/json/server
node_modules
public/json/serveraction/action_5c68f48w.json
public/json/serveraction/action_5g28f48x.json
start_dev.cmd
.snyk
app/cmd/5c68f48w.cmd
app/cmd/5g28f48x.cmd
app/config/mysql.json
app/config/mysql_old.json
app/data/sha.txt
app/json/panel/installer.json