# IDE & Node
.idea
.snyk
node_modules

# APP
index/json/serverinfo
index/data/sha.txt
index/json/panel/installer.json

# PUBLIC
public/json/serverInfos/auslastung.json
public/json/serverInfos/mcVersions.json
public/json/server
public/json/serveraction/action_5c68f48w.json
public/json/serveraction/action_5g28f48x.json

# Typescript
Dist