<%- include('../includes/head'); -%>

<style>
    .bg-image {
        background: url('/img/backgrounds/bg.jpg');
        background-size: cover;
    }

    body {
        background: rgba(11, 19, 26, 1) url('/img/backgrounds/bg.jpg') no-repeat scroll center top;
    }
</style>

<body class="register-page bg-image" style="min-height: 353.391px;">
<div class="error-page bg-light p-4 border border-secondary" style="padding-bottom: 0px !important;">
    <h2 class="headline text-danger m-0" style="font-size: 160px;"> <i class="fas fa-exclamation-triangle text-danger" aria-hidden="true"></i></h2>
        <div class="error-content">
            <h3><b class="text-danger">404</b> <%- lang[page].title %></h3>

            <p>
                <%- lang[page].txt %>
            </p>

            <form class="search-form">
                <a class="btn btn-danger text-white" style="width: 100%" href="/"><i class="nav-icon fas fa-tachometer-alt" aria-hidden="true"></i> <%- lang[page].backToDashboard %></a>
            </form>
        </div>
    </div>
</body>
